**Taller Econometria 12/04/2023**
- Johan Stewart Fierro Martínez
- Juan Manuel Escobar Quintana
- Anderson David Cetina Ruiz

## a) Crea un programa que tome una lista de números como entrada y devuelva la suma de todos los números en la lista.

In [ ]:
Lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum(Lista)

55

## b) Escribe un programa que tome dos listas y devuelva una nueva lista que contenga todos los elementos que son comunes a ambas listas.

In [ ]:
a = [1,2,3,4,5,6,7,8,9,0]

In [ ]:
b = [2,4,6,8,10]

In [ ]:
comunes=[]

In [ ]:
for elementos in a: 
  if elementos in b: 
    comunes.append(elementos) 
    print(comunes)

[2]
[2, 4]
[2, 4, 6]
[2, 4, 6, 8]

## c) Crea un programa que tome una lista de cadenas como entrada y devuelva la longitud de la cadena más larga en la lista.

In [ ]:
listaB = ["perro", "gato", "loro", "cocodrilo", "lombris", "cerdo", "pez"]
listaC = listaB[0]
for cadena in listaB:
  if len(cadena)>=len(listaC):
    listaC=cadena
print(listaC)

cocodrilo

## d) Escribe un programa que tome una lista de números como entrada y devuelva una nueva lista que contenga solo los números pares de la lista original.

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10,12,14]

pares = [numero for numero in a if numero % 2 == 0]

print(pares)

[2, 4, 6, 8, 10, 12, 14]

## f) Escribe un programa que tome un diccionario como entrada y devuelva el valor asociado con una clave dada.

In [ ]:
dicc = {'nombres':['juan','ander','johan'],'edad':[15,20,30]}
dicc['nombres']

['juan', 'ander', 'johan']

## e) Crea un programa que tome una lista de cadenas como entrada y devuelva una nueva lista que contenga solo las cadenas que comienzan con la letra "a".

In [ ]:
A=["avion","hola","amigo","ñero","amarillo","visajoso","amaranta","amor"]

In [ ]:
comienzaA = []

In [ ]:
for nombres in A:
  if nombres.startswith("a"):
    comienzaA.append(nombres)

print(comienzaA)

['avion', 'amigo', 'amarillo', 'amaranta', 'amor']


## G) Crea un programa que tome una lista de diccionarios como entrada y devuelva una nueva lista que contenga solo los diccionarios que tienen una cierta clave.

In [ ]:
diccionarios = [
    {'nombre': 'Juan', 'edad': 25},
    {'nombre': 'Jaría', 'edad': 30, 'ciudad': 'Madrid'},
    {'nombre': 'Pedro', 'edad': 20, 'ciudad': 'Barcelona'},
    {'nombre': 'Ana', 'edad': 35},
]

In [ ]:
solo=[]
for valores in diccionarios:
  for claves in valores.keys():
    if isinstance(valores[claves],str) and valores[claves].startswith('J'):
      solo.append(valores)
      break
print(solo)

[{'nombre': 'Juan', 'edad': 25}, {'nombre': 'Jaría', 'edad': 30, 'ciudad': 'Madrid'}]

## h) Escribe un programa que tome un diccionario como entrada y devuelva un nuevo diccionario con las claves y los valores intercambiados.

In [ ]:
dicc = {'nombres': ['juan', 'ander', 'johan'], 'edad': {15, 20, 30}}

nuevo = {}

for clave, valor in dicc.items():
    for item in valor:
        nuevo[item] = clave

print(nuevo)

{'juan': 'nombres', 'ander': 'nombres', 'johan': 'nombres', 20: 'edad', 30: 'edad', 15: 'edad'}

## i) Crea un programa que tome dos diccionarios como entrada y devuelva un nuevo diccionario que contenga solo los pares clave-valor que son comunes a ambos diccionarios.

In [ ]:
primero = {'computador': [3000], 'mouse': [150000]}
segundo = {'mouse': [150000], 'mousepad': [5000]}
valores_iguales = {}

for key in primero.keys():
    if key in segundo.keys() and primero[key] == segundo[key]:
        valores_iguales[key] = primero[key]

print(valores_iguales)

{'mouse': [150000]}

J) Escribe un programa que tome un diccionario como entrada y devuelva un nuevvo diccionario con las claves ordenadas alfabeticamente.

In [2]:
animales={'anderson':20,'manuel':25,'johan':30}
lst=list(animales.keys())
lst.sort()
for key in lst:
  print(key,animales[key])

anderson 20
johan 30
manuel 25

## k) Escribe una función que tome dos números como entrada y devuelva su suma.

In [ ]:
x= 2
y= 3
z= x+y
z

5

## L) Crea una función que tome una lista de cadenas como entrada y devuelva una nueva lista que contenga solo las cadenas que son más largas que una longitud dada.

In [ ]:
listaB = ["perro", "gato", "loro", "cocodrilo", "lombris", "cerdo", "pez"]
letras2=[]
for cadena in listaB:
  if len(cadena)> 5:
    letras2.append(cadena)
print(letras2)

['cocodrilo', 'lombris']

**m)** Escribe una función que tome una cadena como entrada y devuelva True si la cadena es un palíndromo, False en caso contrario.

In [ ]:
palindromo= ['solos']
reverse = palindromo[::-1]

if (palindromo==reverse):
    print('True')
else:
  print('False')

True

In [ ]:
def palindromo2(palabra):
    return palabra == palabra[::-1]
print(palindromo2('solos'))
print(palindromo2('color'))
print(palindromo2('ojo'))

True
False
True

n)Crea una función que tome una lista de números como entrada y devuelva el promedio de todos los números en la lista

In [ ]:
numeros=[1,2,3,4,5,6,7,8,9,10,5000]
promedio=sum(numeros)/len(numeros)
print(promedio)

459.54545454545456

o) Escribe una función que tome un diccionario como entrada y devuelva una lista de todas las claves en el diccionario.

In [ ]:
dicc = {'nombres':['juan','ander','johan'],'edad':[15,20,30]}
claves=dicc.keys()
print("las claves del diccionario son:")
for clave in claves:
  print(clave)

las claves del diccionario son:
nombres
edad

**p)** Escribe un programa que tome una lista de números como entrada y devuelva el valor máximo en la lista.

In [ ]:
mayor=[1,2,3,4,5,6,10,8]
mayorr=mayor[0]
for numero in mayor:
  if numero>mayorr:
    mayorr=numero
print(mayorr)

10

**q)** Crea un programa que tome una cadena como entrada y devuelva una nueva cadena que contenga solo las vocales en la cadena original.

In [ ]:
musica="muercielago"
vocales=[]
for letras in musica:
  if letras in "aeiouAEIOU":
    vocales.append(letras)
    vocales_cadena="".join(vocales)
print("Las vocales de la cadena son:",vocales_cadena)

Las vocales de la cadena son: ueieao

r) Escribe un programa que tome una lista de números como entrada y devuelva una nueva lista que contenga los valores al cuadrado de cada número en la lista original.

In [ ]:
numeros=[1,2,3,4,5,6,7,8,9,10,5000]
elevados=[]
for valores in numeros:
  cuadrado= valores**2
  elevados.append(cuadrado)
print(elevados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 25000000]

**s)** Crea un programa que tome una cadena como entrada y devuelva una nueva cadena con los caracteres en orden inverso.

In [ ]:
vida="cantar"
for i in range(len(vida)-1,-1,-1):
  print(vida[i],end="")
print ()

ratnac

In [ ]:
vida = 'bailar'
vida_invertida = vida[::-1]
print(vida_invertida)

raliab

**t)** Escribe un programa que tome una lista de cadenas como entrada y devuelva una nueva lista que contenga la longitud de cada cadena en la lista original.

In [ ]:
a = ["Pera", "Uvas", "Manzana", "Mango", "Sandia", "Fresa"]

longitudes=list(map(len,a))
print(longitudes)

[4, 4, 7, 5, 6, 5]

In [ ]:
a = ["Pera", "Uvas", "Manzana", "Mango", "Sandia", "Fresa"]
cantidad=[]
for palabra in a:
  longitud=len(palabra)
  cantidad.append(longitud)
print(cantidad)

[4, 4, 7, 5, 6, 5]